@itci:registry=https://pkgs.dev.azure.com/IT-CI/WebSites/_packaging/websites/npm/registry/
always-auth=true
//pkgs.dev.azure.com/IT-CI/WebSites/_packaging/websites/npm/registry/:_authToken=${ADO_NPM_TOKEN}
